beautifulsoup4
chromadb
google-generativeai
langchain
langchain-google-genai
pandas
python-dotenv
ragas>=0.1.7
requests
streamlit
tqdm
rouge-score
torch>=2.0.0
transformers>=4.30.0
accelerate>=0.20.0
sentence-transformers>=2.2.0
langchain_google_vertexai
einops